body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.declaration {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.declaration p {
    margin-bottom: 15px;
    line-height: 1.5;
}

button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none; /* Removendo sublinhado */
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

  button:hover {
    background-color: #ff6666;
  }